@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 14, 16, 22;
  --background-start-rgb: 14, 16, 22;
  --background-end-rgb: 14, 16, 22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 14, 16, 22;
    --background-start-rgb: 14, 16, 22;
    --background-end-rgb: 14, 16, 22;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
