@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/swiper-bundle.min.css';

:root {
  --foreground-rgb: 14, 16, 22;
  --background-start-rgb: 14, 16, 22;
  --background-end-rgb: 14, 16, 22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 14, 16, 22;
    --background-start-rgb: 14, 16, 22;
    --background-end-rgb: 14, 16, 22;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden;

}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #0E1016;
  
}

body::-webkit-scrollbar-thumb {
  background-color: #2c2c2c;
  
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

